<footer>
    <div class="container">
        <div class="links">
            <h2>Links</h2>
            <a routerLink = "home">Home</a>
            <a routerLink = "contact">Contact</a>
            <a routerLink = "blog">Blog</a>
        </div>
        <div class="contacts">
            <h2>Contact Us</h2>
            <p class="first">Address: 13 Fifth Avenue, Cairo, Egypt</p>
            <p>Phone: +20 111 234 5678</p>
            <p>Email: contact&#64;travelblog.com</p>
        </div>
    </div>
    <p class="copy">Copyright © 2024 Travel Blog</p>
</footer>
